.control {
	border-radius: 4px;
}

.isStart {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.isMiddle {
	border-radius: 0;
}

.isEnd {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
